.eventHeader:hover {
    color: firebrick;
    cursor: pointer;
}
.eventHeader{
    width: 9em;
}
.sportLogo {
    width: 4em;
    float: left;
    margin-right: 0.8vh;
    border-radius: 30%;
    background: white;
    border: 2px solid black;
    box-shadow: 3px 3px darkslategrey;

}


.eventSlot, .eventMember {
    width: 2.9em;
    margin: 0 0.22em;
    border-radius: 0 50% 0 0;
    background: white;
    border-bottom: 10px solid firebrick;
    box-shadow: 3px 3px darkslategrey;
}

.slots {
    margin-top: 1em;
    position: relative;
}

.slots:after {
    content: none;
    width: 2.8em;
    height: 2.8em;
    background: black;
    opacity: 0.6;
    border-radius: 0 50% 0 0;
    position: absolute;
    right: 0.45em;
    bottom: 1em;
}

.counter {
    position: absolute;
    right: 1.15em;
    bottom: 1.4em;
    z-index: 100;
}

.eventSlot:hover {
    background: darkseagreen;
}

.eventComments {
    display: flex;
    flex-flow: column wrap;
    width: unset;
    position: relative;
}

.subNav {
    margin: .6em .6em 0;
    display: flex;
    flex-flow: row wrap;
    border-radius: 15px;
    justify-content: space-between;
}

.subNavBtn {
    border: 3px solid rgba(255,255,255,0.4);
    border-radius: 15px;
    margin: 0.1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 32.33%;
    height: 4em;
    color: #FFFFFF;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.subNavBtn:hover > .tooltip{
    right: 0;
    transition: opacity;
    opacity: 0.7;
}

.subNavBtn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.subNavBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.chat {
    background-color: rgb(144, 175, 197);
    background-image: url("./../images/support.png");
}

.joinEvent {
    background-color: limegreen;
    background-image: url("./../images/add.png");
}

.membersList {
    background-color: #336b87;
    background-image: url("../images/nav/group.png");
}
.tooltip{
    background: gray;
    font-size: 0.6em;
    font-weight: bold;
    padding: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border-radius: 50% 0 0 50%;
    width: 6.6em;
    height: 100%;
    opacity: 0;
}

.userDetails {
    display: none;
    position: absolute;
    top: 3.7em;
    left: -1px;
    z-index: 10;
    background-color: black;
    border: 5px solid green;
    width: 12em;
    height: 15em;
    border-radius: 0 20% 0 0;

}

.userAv {
    display: inline-block;
    position: relative;
}
.eventName{
    font-family: 'Shrikhand', cursive;
    text-shadow: 2px 2px black;
    letter-spacing: 0.07em;
    font-size: 1.2em;
}

.commentBox {
    min-height: 7em;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding: 0.3em;
    margin-bottom: 1em;
    position: relative;
}
.comment{
    display: flex;
    flex-flow: column nowrap;
}
.commentText{
    background: rgba(255,255,255,0.6);
    color: black;
    border-radius: .5em;
    padding: 0.4em;
    margin: .5em;
}
.newComment{
    display: flex;
    flex-flow: row wrap;

}
.commentAuthor{
    font-size: 1.5em;
    font-weight: bold;
}
.commentTime{
    background: rgba(255,255,255,0.3);
    position: absolute;
    right: .2em;
    font-size: 0.8em;
    padding: 0.1em;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.5);
    top: .3em;
}

.userAv:hover > .userDetails {
    display: inline-block;
}

.userAv:hover > img {
    box-shadow: 0px 0px 0px 5px rgba(0, 128, 0, 1);
}
.exitBtn{
    background: transparent;
    border: none;
    opacity: 0.2;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: -2px;
    right: -2px;
    background-size: cover;
    background-image: url("./../images/nav/exit.png");
}
.exitBtn:hover{
    opacity: 1;
}
.commentsHeader{
    margin-bottom: .3em;
}
.addComment{
    position: relative;
}
.addComment textarea{
    font-size: 1rem;
    width: 100%;
    min-height: 4rem;
    border-radius: 10px;
    padding: .2em;
    background: rgba(255,255,255,0.5);
}
.addComment textarea:focus{
    background: white;
    border: .2em solid firebrick;
}
.addComment button{
    width: 10em;
    height: 3em;
    border: .4em solid rgba(255,255,255, 0.4);
    background: rgba(255,255,255, 0.4);
    border-radius: .5em;
}

@media (min-width: 1024px) {
    .numInfo {
        float: right;
        position: absolute;
        top: 1em;
        right: 1em;


    }

    .evContainer {
        font-size: 24px;
        font-weight: bold;
        position: relative;

    }

    .slots:after {
        right: 0.22em;
        bottom: 0.85em;
    }

}
