#header > .mainContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: floralwhite;
    text-shadow: 2px 2px 2px #763626;

}
#header > .mainContainer > h1 {
    font-family: 'Shrikhand', cursive;
    margin-left: 9vh;
    margin-top: 1vh;
    font-size: 2.7em;
}


#header {
    height: 10vh;
}
@media (min-width: 1024px) {
    #header {
        height: 20vh;
    }
    #header > .mainContainer {

        font-size: 3em;


    }

}
