#header > .mainContainer {
    font-size: 0.8em;
    color: rgb(42, 49, 50);
    text-shadow: 2px 2px 2px white;
    width: 100vw;
}

#header > .mainContainer > h1 {
    font-family: 'Permanent Marker', cursive;
    margin-left: 10vh;
    font-size: 3em;
    letter-spacing: 0.12em;
}


#header {
    height: 10vh;
}
@media (min-width: 1024px) {
    #header {
        height: 20vh;
    }
    #header > .mainContainer {
        display: flex;
        font-size: 3em;
        justify-content: center;
        margin: 0;
    }
    #header > .mainContainer > h1 {
        font-size: 1.7em;
    }

}
