.loginHeader{

}
.loginFormContainer{
    background: linear-gradient(to right, rgba(94,126,255,1) 0%, rgba(51,107,135,1) 100%);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}
.loginForm, .signUpBtn, #signUpForm{
    margin-top: 1em;

}
#signUpForm label,.loginForm label{
    width: 100%;
}
.signUpBtn{
    width: 90%;
}
.menuBtnInactive{
    height: 10vh;
    width: 10vh;
    top: 0;
    left: 0;
    background: url("../images/nav/menuburger.png");
    background-size: cover;
    position: absolute;
}



.btn{
    font-size: 1.5em;
    background-color: #2A3132;
    border: 0;
    height: 2em;
    color: white;
    width: 15rem;
}
.btn:hover{
    background-color: #90afc5;
    cursor: pointer;
}
.form-control{
    margin-bottom: 10px;
    width: 15rem;
    height: 3rem;
    font-size: 2em;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden{
    display: none;
}
#signUpForm{
    display: none;
    flex-direction: column;
    align-items: center;
}

.cc-selector input:active + .avatarRadio {
    opacity: .9;
}

.cc-selector input:checked + .avatarRadio {

    filter: none;
}

.athlete {
    background-image: url("./../images/avatars/athlete.png");
}

.acrobat {
    background-image: url("./../images/avatars/acrobat.png");
}

.cyclist {
    background-image: url("./../images/avatars/cyclist.png");
}

.fitness {
    background-image: url("./../images/avatars/fitness.png");
}

.basketball {
    background-image: url("./../images/avatars/basketball.png");
}

.boxer {
    background-image: url("./../images/avatars/boxer.png");
}
.baseball-player {
    background-image: url("./../images/avatars/baseball-player.png");
}
.baseball-player-1 {
    background-image: url("./../images/avatars/baseball-player-1.png");
}
.akebono-taro {
    background-image: url("./../images/avatars/akebono-taro.png");
}
.akebono-taro-1 {
    background-image: url("./../images/avatars/akebono-taro-1.png");
}
.american-football {
    background-image: url("./../images/avatars/american-football.png");
}
.boxer-1 {
    background-image: url("./../images/avatars/boxer-1.png");
}
.fitness-1 {
    background-image: url("./../images/avatars/fitness-1.png");
}
.fitness-2 {
    background-image: url("./../images/avatars/fitness-2.png");
}
.football {
    background-image: url("./../images/avatars/football.png");
}
.gymnast-1 {
    background-image: url("./../images/avatars/gymnast-1.png");
}
.hockey-player {
    background-image: url("./../images/avatars/hockey-player.png");
}
.jockey {
    background-image: url("./../images/avatars/jockey.png");
}
.parachuter {
    background-image: url("./../images/avatars/parachuter.png");
}
.judo {
    background-image: url("./../images/avatars/judo.png");
}
.rollers {
    background-image: url("./../images/avatars/rollers.png");
}
.runner {
    background-image: url("./../images/avatars/runner.png");
}
.scuba-diver {
    background-image: url("./../images/avatars/scuba-diver.png");
}
.skater {
    background-image: url("./../images/avatars/skater.png");
}
.tennis-player-1 {
    background-image: url("./../images/avatars/tennis-player-1.png");
}

.avatarRadio {

    margin-bottom: .8em;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 4em;
    width: 3em !important;
    transition: all 100ms ease-in;
    filter: brightness(1.8) grayscale(1) opacity(.7);}

.avatarRadio:active {
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.cc-selector input {
   display: none;
}
.cc-selector{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;
    width: 15rem;

}

@media (min-width: 1024px) {
    .form-control {
        margin-bottom: 10px;
        width: 30rem;
        height: 5rem;
        font-size: 3em;
    }
    .btn{
        font-size: 3em;
        height: 6rem;
        color: white;
        width: 30rem;
    }
    .menuBtnInactive{
        display: none;
    }

    #header > .mainContainer > h1 {
    margin: 0;
    }
    .cc-selector{
        width: 30rem;
    }
    .avatarRadio{
        width: 5em;
    }
}