
.loginFormContainer{
    overflow-y: scroll;
    background: linear-gradient(to right, rgba(94,126,255,1) 0%, rgba(51,107,135,1) 100%);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.loginFormContainer>form{
    width: 85%;
}

form{
    width: 85%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;

}


.btn{
    font-size: 1.5em;
    background-color: #2A3132;
    border: 0;
    height: 2em;
    color: white;
}
.btn:hover{
    background-color: #90afc5;
    cursor: pointer;
}
.form-control{
    margin-bottom: 10px;
    width: 100%;
    height: 3rem;
    font-size: 2em;
}
.form-group{
    display: flex;
    flex-direction: column;
}

.logoContainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 1em;
    color: #763626;
    text-shadow: 2px 2px 2px whitesmoke;
    padding:10px;

}
.hidden{
    display: none;
}
.signUpBtn{
    width: 85%;
}

.cc-selector input:active + .avatarRadio {
    opacity: .9;
}

.cc-selector input:checked + .avatarRadio {

    filter: none;
}

.athlete {
    background-image: url("./../images/avatars/athlete.png");
}

.acrobat {
    background-image: url("./../images/avatars/acrobat.png");
}

.cyclist {
    background-image: url("./../images/avatars/cyclist.png");
}

.fitness {
    background-image: url("./../images/avatars/fitness.png");
}

.basketball {
    background-image: url("./../images/avatars/basketball.png");
}

.boxer {
    background-image: url("./../images/avatars/boxer.png");
}

.avatarRadio {

    margin-bottom: .8em;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 25%;
    height: 4em;
    transition: all 100ms ease-in;
    filter: brightness(1.8) grayscale(1) opacity(.7);}

.avatarRadio:active {
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.cc-selector input {
   display: none;
}
.cc-selector{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1em;

}

@media (min-width: 1024px) {
.loginFormContainer{
    display: flex;
    align-items: center;

    flex-flow: column nowrap;
}
    form{
        width: 70%;
    }
    #loginLogo{
        width: 140px;
        height: 140px;

    }
    .logoContainer{
        font-size: 1.6em;
    }
}