.hidden {
    display: none;
    transition: display;
    transition-duration: 500ms;
}

#main {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to right, rgba(50, 70, 71, 1) 0%, rgba(42, 49, 50, 1) 61%, rgba(42, 49, 50, 1) 100%);
    width: 100%;


}

.HolyGrail-content {
    display: flex;
    flex-flow: column nowrap;
}

.mainContent {
    width: 100%;
    padding: .6em;
    color: white;
    height: 100%;
/*
    background-image: url("./../images/bg.png");
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
*/
}

.mainContent > li {

    margin-bottom: 1em;
    padding: .6em;
    border-radius: 18px;
    background: rgba(255,255,255,0.2);
    border: .3em solid rgba(255,255,255, 0.2);


}
@media (min-width: 1024px) {
    .mainContent > li {
        font-size: 2em;
    }
}


