.hidden {
    display: none;
    transition: display;
    transition-duration: 500ms;
}

#main {
    display: flex;
    justify-content: flex-start;
    background: #336b87;
    width: 100%;


}

.HolyGrail-content {
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(to right, rgba(50, 70, 71, 1) 0%, rgba(42, 49, 50, 1) 61%, rgba(42, 49, 50, 1) 100%);
}

.mainContent {
    width: 100%;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px #336b87;
    height: 100%;
/*
    background-image: url("./../images/bg.png");
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
*/
}

.mainContent > li {
    box-shadow: 0 0 5px 1px rgba(144, 175, 197, 0.75);
    margin-bottom: 20px;
    padding: 10px;
}


