.HolyGrail-nav{
    margin-top: -3px;
}
.HolyGrail-nav li {
    display: flex;
    color: black;
    align-items: center;
    background: linear-gradient(to right,rgba(144,175,197,1) 0%, rgba(144,175,197,1) 20%, rgba(74,89,186,1) 80%);
    font-weight: bold;
    border-top: 2px solid white;
    position: relative;
    font-size: 1.1em;
    margin: auto;
    border-right: 2px solid white;
    border-left: 2px solid white;
}
.HolyGrail-nav>li:hover{
    color: white ;
    background: #336b87;
    font-weight: bold;
    cursor: pointer;

}
.HolyGrail-nav>li>img{
    padding: 0.2em;
}

.menuBtn{
    color: white;
    height: 10vh;
    width: 10vh;
    border: 0;
    border-radius: 0;
    font-size: 3em;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(144,175,197,0.8);
    background-image: url("../images/nav/menuburger.png");
    background-size: cover;
    transition: background;
    transition-duration: 500ms;

}


.exitMenu{
    background-image: url("../images/nav/exit.png");

}

.menuBar {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;

}
.menuBurger{
    position: absolute;
    top: 0;
    left: 0;

}
.HolyGrail-nav li:before, .HolyGrail-nav li:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.5s;
}

.HolyGrail-nav li:before
{
    left: 0px;
    top: 0px;
}

.HolyGrail-nav li:after
{
    right: 0px;
    bottom: 0px;
}

.HolyGrail-nav li:hover:before,.HolyGrail-nav li:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
.logoutBtn{
    border-bottom: 2px solid white;
}
@media (min-width: 1024px) {
    .HolyGrail-nav li {
        margin-bottom: 10px;
        padding: 5px;
           text-align: center;
        position: relative;
        width: unset;
    }
    .HolyGrail-nav {
        background: #2A3132;
        position: absolute;
        z-index: 1;
        left: 1vh;
        box-shadow: 0px 0px 5px 5px rgba(144, 175, 197,0.75);

    }
}
