.HolyGrail-nav li {

    color: white;
    background: #2A3132;
    font-weight: bold;
    padding: 10px;
    width: 100vw;
    border: 2px solid white;
    text-align: center;
    position: relative;
    font-size: 1.1em;
    margin: auto;
}
.HolyGrail-nav>li:hover{
    color: white ;
    background: #336b87;
    font-weight: bold;
    cursor: pointer;

}

.menuBtn{
    color: white;
    height: 10vh;
    width: 10vh;
    background-color: #2A3132;
    border: 0;
    border-radius: 0;
    font-size: 3em;
    position: relative;
    top: 0;
    left: 0;
}
.HolyGrail-nav li:before, .HolyGrail-nav li:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.5s;
}

.HolyGrail-nav li:before
{
    left: 0px;
    top: 0px;
}

.HolyGrail-nav li:after
{
    right: 0px;
    bottom: 0px;
}

.HolyGrail-nav li:hover:before,.HolyGrail-nav li:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
@media (min-width: 1024px) {
    .HolyGrail-nav{
        position: absolute;
        z-index: 1;
        top: 40vh;
        left: 2vh;
        background: #2A3132;
    }
    .HolyGrail-nav li {
        margin-bottom: 10px;
        padding: 20px;
        text-align: center;
        position: relative;
        font-size: 1.1em;
        width: unset;
    }
}
