.newGroupForm{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.newGroupForm li label{
    display: inline-block;
}
.eventDate .dateTime{
    display: inline-block;
    width: 48%;
}
.eventDate{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

li{
    margin-bottom: 10px;
}
.newGroupForm input,
.chooseSport
{
    font-size: 16px;
    height: 2em;
    border: 0;
    margin-top: 5px;
}
.chooseSport{
    width: 100%;
    background: rgba(255,255,255,0.5);

}
#submitNewEventBtn{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    font-size: 3em;

    color: white;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
@keyframes loading {
    0% {
        background: red;
        transform: rotate(180deg) scale(1.2);
    }
    33%{
        background: yellow;
        transform: rotate(180deg) scale(1.0);
    }
    66%{
        background: linear-gradient(gold,yellowgreen);
    }
    100% {

        display: none;
    }
}
@media(min-width:1024px) {
    .newGroupForm li input {
        width: 100%;
        font-size: 1em;
    }
    .chooseSport{
        font-size: 1em;
    }

}