* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Lato', sans-serif;

}
input{
    background: rgba(255,255,255,0.5)!important;

}
input:focus{
    border: .2em solid firebrick!important;
    background: white!important;
}
#app{
    width: 100%;
}
#app>div{
    width: 100%;
}

li{
    margin-bottom: 0.1em;
}
body {
    position: relative;
    width: 100vw;
}
.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
    width: 100%;

}


.HolyGrail-body {
    width: 100%;
    justify-content: space-between;
}

.HolyGrail-nav {
    order: -1;

}


#header,
#footer {
    box-shadow: 0 0 2px whitesmoke;
    background: linear-gradient(to right,rgba(144,175,197,1)  0%, rgba(144,175,197,1) 20%, rgba(74,89,186,1) 80%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.HolyGrail-content {
    width: 100%;
}
.HolyGrail-body>.mainContainer {
    display: flex;
    width: 100%;

}

@media (min-width: 1024px) {

    #main {
        justify-content: center;


    }



    .mainContainer {
        width: calc(100vw - 13em);

    }

    .HolyGrail-body {
        flex-flow: row wrap;
        flex: 1;


    }



    .HolyGrail-content {
        flex: 1;
        margin: 1em;
        margin-left: 18em;
        height: auto;
        min-height: 86vh;
        box-shadow: 0 0 5px 5px rgba(144, 175, 197,0.75);

    }

    .HolyGrail-nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
        margin: 1em .4em;
    }



}

