* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Lato', sans-serif;

}

li{
    margin-bottom: 0.1em;
}
body {
    position: relative;

}
form{
    width: 100%;
    margin-top: 0;
}
.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
    width: 100%;

}


.HolyGrail-body {
    width: 100%;
    justify-content: space-between;
}

.HolyGrail-nav {
    order: -1;

}


#header,
#footer {
    box-shadow: 0 0 2px whitesmoke;
    background: #90afc5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}



@media (min-width: 1024px) {

    #main {
        justify-content: center;

    }



    .mainContainer {
        width: calc(100vw - 12em);

    }

    .HolyGrail-body {
        flex-flow: row wrap;
        flex: 1;


    }

    .HolyGrail-body > .mainContainer {
        display: flex;
        width: 100%;

    }

    .HolyGrail-content {
        width: 100%;
        flex: 1;
        margin: 1em;
        margin-left: 12em;
        height: auto;
        min-height: 86vh;
        box-shadow: 0px 0px 5px 5px rgba(144, 175, 197,0.75);

    }

    .HolyGrail-nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
        margin: 1em 0;
    }



}

